@import url('https://fonts.googleapis.com/css?family=Gugi');

body {
	background-color: black;
	color: #1ec503;
	font-family: "Gugi", "Courier New";
	text-align: center;
}


textarea,
button,
input,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    background-color: black;
	color: #1ec503;
	border-width: 1px;
	padding: 0px;
	margin: 0 auto;
	font-family: 'Courier New';
	font-weight: bold;
	border-color: #1ec503;
	border-radius: 2px;
	padding: 3px;
}

a {
	text-decoration: none;
	color: #1ec503;
}

a:hover {
	color: white;
}

.page {
	height: 100%;
	width: 100%;
	position: absolute;
}

